body {
  font-family: 'Roboto', sans-serif;
}

#main {
  min-width: 400px;
  width: 60%;
  margin: auto;
}

.equation {
  display: flex;
}

input {
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px;
  font-size: 16px;
  width: 40px;
  outline: none;
}

/* https://stackoverflow.com/a/51954861/4624070 */
.equal {
  align-self: center;
  padding: 10px;
}

.container {
  margin: 25px 0px;
}

button {
  font-size: 20px;
  background: none;
  background-color: rgb(104, 214, 137);
  color: white;
  padding: 10px;
  border: 1px solid rgb(104, 214, 137);
  border-radius: 4px;
}

button:hover {
  background-color: white;
  color: rgb(104, 214, 137);
}
